*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border: 0;
    list-style-type: none;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: hsl(270, 20%, 96%);
}
main{
    max-width: 930px;
    /* min-width: 900px; */
    min-height: 100vh;
    width: 76vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* flex-flow: row wrap; */
}
main::before{
    content: '';
    display: block;
    position: absolute;
    left: -23vw;
    top: -8vh;
    height: 100vh;
    border-radius: 0 0 50vh 50vh;
    width:30vw;
    background-image: linear-gradient(
    220deg,
    hsl(276, 100%, 81%),
    hsl(276, 55%, 52%)
  );

}
main::after{
    content: '';
    display: block;
    position: absolute;
    right: -23vw;
    bottom: -8vh;
    height: 100vh;
    border-radius: 50vh 50vh 0 0;
    width:30vw;
    background-image: linear-gradient(
    220deg,
    hsla(276, 43%, 86%, 0.665),
    hsl(270, 20%, 96%)
  );
  opacity: 0.5;

}
.phoneDiv{
    flex-basis: 50%;
    min-width: 235px;
    max-width: 235px;
    max-height: 510px;
    height: 505px;
    border-radius: 15px;
    outline: 10px solid white;
    box-shadow: 20px 20px 20px #ccc;
    position: relative;
    background-color: hsl(270, 20%, 96%);
}
.textDiv{
    flex-basis: 50%;
}
.earpiece{
    width: 50%;
    height: 22px;
    border-radius: 12px;
    margin: 0 auto;
    background-color: white;
    z-index: 20;
    position: absolute;
    left: 25%;
    top: -8.5px;
}
.profile-Img{
    height: 22px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 2px solid white;
}
.chatHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    height: 14%;
    border-radius: 7px;
    background-image: linear-gradient( to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    color: white;
}
.chatHeader *{
    margin: 0 4px 3px;
}
.CH-1{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    opacity: 90%;
}
.CH-inner p{
    font-size: 0.55rem;
    opacity: 50%;
    font-weight: 400;
}
.CH-inner h4{
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 90%;
}
.CH-1 i{
    font-size: 0.7rem;
}
.CH-2{
    padding: 9px;
}
.CH-2 i{
    font-size: 0.7rem;
}
.chatArea{
    margin: 4px 0;
    height: 76%;
    display: flex;
    flex-direction: column;

}
.chatLeft{
    margin: 4px 9px;
    max-width: 60%;
    font-size: 0.62rem;
    padding: 7px 5px 7px 7px;
    background-color: hsl(276, 55%, 52%, 0.087);
    border-radius: 10px;
    border-bottom-left-radius: 1px;
    display: inline-block;
    color: hsl(271, 36%, 24%);
}
.chatRight{
    margin:4px 9px;
    max-width: 60%;
    font-size: 0.62rem;
    padding: 7px 5px 7px 7px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    border-bottom-right-radius: 1px;
    color: hsl(273, 85%, 3%);
}
.Right{
    align-self:flex-end;
}
.chatImages{
    display: flex;
    gap: 4px;
    margin: 2px 8px ;
}
.chatImages img{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 7px;
}
.chatPrice{
    background-image: linear-gradient( to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    padding-top: 10px ;
    padding-bottom: 10px ;
    max-width: 70%;
    color: white;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatPrice *{
    font-size: 0.62rem;
}
.CP-inner-R{
    font-size: 0.8rem;
    font-weight: 700;
}
.typeMessage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px ;
    margin-right: 10px ;
    border-radius: 12px;
    background-color: white;
    padding: 5px 12px;
}
.TM-L{
    font-size: 0.5rem;
}
.textDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textDiv h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px;
    color: hsl(271, 36%, 24%);
}
.textDiv p{
    font-size: 0.9rem;
    padding: 0 10px 10px;
    color: hsl(270, 7%, 64%);
}
@media (max-width:700px) {
    main{
        width: 90vw;
    }
    main::before{
        left: -18vw;
        top: -40vh;
    }
    main::after{
        bottom: -40vh;
        right: -18vh;
    }
}
@media (max-width:620px){
    main{
        flex-direction: column;
        gap: 10vh;
        max-height: 1000px;
        justify-content: flex-start;
        margin: 10vh 0;
    }
    .phoneDiv{
        flex-basis: auto;
    }
    .textDiv{
        justify-content: flex-start;
        text-align: center;
        inline-size: 350px;
        flex-basis: auto;
    }
    main::before{
        width: 80vw;
        left: -30vw;
        top: -40vh;
    }
    main::after{
        bottom: -60vh;
        width: 80vw;
        right: -50vw;
    }
}