*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
body{
    background-color: hsl(204, 43%, 93%);
}
main{
    max-width: 640px;
    width: 80%;
    margin: 10vh auto;
    display: flex;
    flex-flow: row wrap;
    border-radius: 4px;
    font-family: 'Karla', sans-serif;
    /* border: 1px solid black; */
}
.container{
    padding: 25px;
    overflow: hidden;
    line-height: 20px;
}
#firstChild{
    flex-basis: 100%;
    background-color: white;
    padding-right: 45px;
}
#secChild{
    flex-basis: 50%;
    background-color: hsl(179, 62%, 43%);
    opacity: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
#secChild>h3{
    margin-bottom: 0;
}
#thirdChild{
    flex-basis: 50%;
    background-color: hsl(179, 62%, 43%);
    opacity: 60%;
    color: white;
    padding-right: 100px;
}
h2{
    font-size: 1.2rem;
    color: hsl(179, 62%, 43%);
}
h3{
    font-size: 0.85rem;
    font-weight: 400;
}
button{
    font-size: 0.85rem;
    font-family: 'Karla', sans-serif;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border-radius: 3px;
}
p{
    font-size: 0.75rem;
}
#thirdChild>p{
    font-weight: 200;
}
#firstChild>h3{
    color: hsl(71, 73%, 54%);
}
#firstChild>p{
    opacity: 70%;
    font-weight: 400;
}
#spanFirst{
    font-size: 2rem;
    margin-right: 10px;
}
#spanThird{
    display: block;
    margin-top: 6px;
    font-weight: 200;
}
#spanSec{
    font-weight: 200;
}
@media (max-width:650px){
    main{
        flex-direction: column;
        width: 90%;
    }
}